body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u90_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  display:flex;
  opacity:0.77;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:408px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:137px;
  width:408px;
  height:408px;
  display:flex;
  opacity:0.2;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:666px;
  height:666px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:394px;
  width:666px;
  height:666px;
  display:flex;
  opacity:0.2;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:187px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:188px;
  width:187px;
  height:187px;
  display:flex;
  opacity:0.2;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:354px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:270px;
  width:354px;
  height:354px;
  display:flex;
  opacity:0.3;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:354px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:287px;
  width:354px;
  height:354px;
  display:flex;
  opacity:0.1;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:245px;
  width:97px;
  height:97px;
  display:flex;
  opacity:0.2;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:97px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:240px;
  width:97px;
  height:97px;
  display:flex;
  opacity:0.2;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:5px;
  background:inherit;
  background-color:rgba(230, 0, 18, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:715px;
  width:1280px;
  height:5px;
  display:flex;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:643px;
  width:171px;
  height:30px;
  display:flex;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:650px;
  width:171px;
  height:16px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u103 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:5px 10px 21px rgba(230, 0, 18, 0.101960784313725);
  -webkit-box-shadow:5px 10px 21px rgba(230, 0, 18, 0.101960784313725);
  box-shadow:5px 10px 21px rgba(230, 0, 18, 0.101960784313725);
  text-align:center;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:115px;
  width:360px;
  height:430px;
  display:flex;
  text-align:center;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:21px;
  color:#E60012;
  text-align:center;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:144px;
  width:106px;
  height:29px;
  display:flex;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:21px;
  color:#E60012;
  text-align:center;
}
#u107 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
  text-align:center;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:178px;
  width:103px;
  height:19px;
  display:flex;
  color:#555555;
  text-align:center;
}
#u108 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:208px;
  width:360px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0002952781875535deg);
  -moz-transform:rotate(-0.0002952781875535deg);
  -ms-transform:rotate(-0.0002952781875535deg);
  transform:rotate(-0.0002952781875535deg);
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:236px;
  width:29px;
  height:19px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  padding:3px 4px 3px 4px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u112_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  padding:3px 4px 3px 4px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 0, 18, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:256px;
  width:300px;
  height:27px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u112_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 0, 18, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u112.disabled {
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:308px;
  width:29px;
  height:19px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#555555;
}
#u114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  padding:3px 4px 3px 4px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u115_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  padding:3px 4px 3px 4px;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#AAAAAA;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 0, 18, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:328px;
  width:300px;
  height:27px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u115_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:27px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 0, 18, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u115.disabled {
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:2px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:479px;
  width:360px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.000440871274107522deg);
  -moz-transform:rotate(0.000440871274107522deg);
  -ms-transform:rotate(0.000440871274107522deg);
  transform:rotate(0.000440871274107522deg);
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:337px;
  width:10px;
  height:10px;
  display:flex;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:337px;
  width:10px;
  height:10px;
  display:flex;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:337px;
  width:10px;
  height:10px;
  display:flex;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:533px;
  top:337px;
  width:10px;
  height:10px;
  display:flex;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:337px;
  width:10px;
  height:10px;
  display:flex;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:490px;
  width:184px;
  height:33px;
  display:flex;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:497px;
  width:133px;
  height:19px;
  display:flex;
  color:#AAAAAA;
}
#u125 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:501px;
  width:12px;
  height:12px;
  display:flex;
  color:#AAAAAA;
}
#u127 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:13px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:335px;
  width:18px;
  height:13px;
  display:flex;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:8px;
  background:inherit;
  background-color:rgba(230, 0, 18, 1);
  border:none;
  border-radius:50px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:115px;
  width:360px;
  height:8px;
  display:flex;
  text-align:center;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#E60012;
  text-align:center;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:453px;
  width:101px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#E60012;
  text-align:center;
}
#u131 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
  background:inherit;
  background-color:rgba(230, 0, 18, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#DCF0FF;
  text-align:center;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:411px;
  width:121px;
  height:35px;
  display:flex;
  font-size:16px;
  color:#DCF0FF;
  text-align:center;
}
#u133 .text {
  position:absolute;
  align-self:flex-start;
  padding:7px 40px 7px 40px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:10px;
  width:20px;
  height:20px;
  display:flex;
  opacity:0.8;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:12px;
  width:87px;
  height:16px;
  display:flex;
  opacity:0.8;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 4px 2px 4px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#F2F2F2;
  text-align:center;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:555px;
  width:360px;
  height:17px;
  display:flex;
  font-size:12px;
  color:#F2F2F2;
  text-align:center;
}
#u137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
